.select-container {
    position: absolute;
    top: 10px;
    left: 30%;
    z-index: 1000; /* Ensure the dropdown appears above the map */
    width: 40%; /* Adjust the width as needed */
  }
  
  .map .container {
    height: 100%;
    width: 100%;
    position: relative; /* Ensure the select container is positioned relative to the map container */
  }
  